body{
    font-family: 'Poppins', sans-serif;
    margin: 0px;
}
h1{
    font-size: 40px;
}
.orange-color{
    color: orange;
}.flexible-container{
    display: flex;
    margin-bottom: 200px;
}
.half-width{
    width: 50%;
    padding-left: 4px;
}
.half-width img{
    width: 100%;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(rgb(228, 84, 84), orange  );
    color: white;
    font-weight: 700;
    padding: 5px 15px;
    border-radius: 4px;
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.dream-big{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.experience-item{
    box-shadow: 5px 5px 5px gray;
    width: 45%;
    margin-left: 10px;
    margin-right: 10px;
    padding-left: 20px;
    padding-right: 5px;
    padding-bottom: 15px;
    border-radius: 15px;
}
.experienc-area{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
#full-job{
    border-left: 8px solid;
    border-image: linear-gradient(blue, orange );
    border-image-slice: 1;
    border-radius: 15px;
}
#intern-job{
    border-left: 8px solid;
    border-image: linear-gradient(orange, green );
    border-image-slice: 1;
}
footer p{
    text-align: center;
    color: blue;
}